
<mat-card class="item">
    <mat-card-header>
      <mat-card-title>Home</mat-card-title>
      <mat-card-subtitle>Home Page description</mat-card-subtitle>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onListView()">
        <mat-icon matBadgeColor="warn">list</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with share icon" (click)="onTileView()">
       <mat-icon >line_weight</mat-icon>
     </button>
    </mat-card-header>
  
  </mat-card>

  