<div class="container">
    <mat-card class="item">
      <mat-card-header>
        <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon></mat-card-title>
        <mat-card-subtitle>Home Page description</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          dsda
        </p>
        <p>
          dsda
        </p>
      </mat-card-content>
    
    </mat-card>
    <mat-card class="item">
      <mat-card-header>
        <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon></mat-card-title>
        <mat-card-subtitle>Home Page description</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
         345
        </p>
        <p>Total orders</p>
      </mat-card-content>
     
    </mat-card>
  </div>
  
  
  <div class="container">
      <mat-card class="item">
        <mat-card-header>
          <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon> Home</mat-card-title>
        </mat-card-header>
        <mat-card-header>
          <img class="card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card-header>
        <mat-card-content>
  
          <h3>
            Header of this card
          </h3>
          <p>
            Lorem ipsum dolor si
          </p>
        </mat-card-content>
      
      </mat-card>
      <mat-card class="item">
        <mat-card-header>
          <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon></mat-card-title>
          <mat-card-subtitle>Home Page description</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
           345
          </p>
          <p>Total orders</p>
        </mat-card-content>
       
      </mat-card>
    </div>